{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is the API documentation for PhoneBookPro",
    "version" : "1.0.0",
    "title" : "The Online Phonebook",
    "contact" : {
      "email" : "alex.201@knights.ucf.edu"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths" : {
    "/PhonebookLogin.php" : {
      "post" : {
        "tags" : [ "Login" ],
        "summary" : "Logs in to Phonebookpro app",
        "operationId" : "doLogin",
        "description" : "Logs in to Phonebookpro app",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "Login Item",
          "description" : "Login",
          "schema" : {
            "$ref" : "#/definitions/Login"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "URL Not Found"
          },
          "500" : {
            "description" : "Server Error"
          }
        }
      }
    },
    "/PhonebookAdd.php" : {
      "post" : {
        "tags" : [ "ModifyContacts" ],
        "summary" : "Adds a new contact",
        "operationId" : "addContact",
        "description" : "Adds a new contact to the Phonebookpro app database",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "contactItem",
          "description" : "Contact",
          "schema" : {
            "$ref" : "#/definitions/Contact"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "URL Not Found"
          }
        }
      }
    },
    "/PhonebookSearch.php" : {
      "post" : {
        "tags" : [ "SearchContacts" ],
        "summary" : "Searches for contact",
        "operationId" : "searchContact",
        "description" : "Search for a contact in the Phonebookpro app database",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "contactItem",
          "description" : "Contact",
          "schema" : {
            "$ref" : "#/definitions/Search"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "URL Not Found"
          }
        }
      }
    },
    "/PhonebookRemove.php" : {
      "post" : {
        "tags" : [ "ModifyContacts" ],
        "summary" : "Removes a contact",
        "operationId" : "removeContact",
        "description" : "Removes a contact in the phonebookpro app database",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "contactItem",
          "description" : "Contact",
          "schema" : {
            "$ref" : "#/definitions/Contact"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "URL Not Found"
          }
        }
      }
    }
  },
  "definitions" : {
    "Login" : {
      "type" : "object",
      "required" : [ "login", "password" ],
      "properties" : {
        "login" : {
          "type" : "string",
          "example" : "SamH"
        },
        "password" : {
          "type" : "string",
          "example" : "test"
        }
      }
    },
    "Contact" : {
      "type" : "object",
      "required" : [ "UserID", "FirstName", "LastName", "PhoneNumber", "Email" ],
      "properties" : {
        "FirstName" : {
          "type" : "string",
          "example" : "John"
        },
        "LastName" : {
          "type" : "string",
          "example" : "Doe"
        },
        "PhoneNumber" : {
          "type" : "string",
          "example" : "4078492444"
        },
        "Email" : {
          "type" : "string",
          "example" : "jdoe@yahoo.com"
        },
        "UserID" : {
          "type" : "integer",
          "example" : 1
        }
      }
    },
    "Search" : {
      "type" : "object",
      "required" : [ "UserID", "Search" ],
      "properties" : {
        "UserID" : {
          "type" : "string",
          "example" : "1"
        },
        "Search" : {
          "type" : "string",
          "example" : "Susie"
        }
      }
    }
  },
  "host" : "phonebookpro.me",
  "basePath" : "/API",
  "schemes" : [ "http" ]
}