@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
	padding: 0;
	margin: 0;
}


body{
    font-family: 'Montserrat', Verdana, sans-serif;
	width: 100vw;
	height: 100vh;
    background-color: #151515;
    display: flex;
    color: #ffffff;
}

.navbar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    background-color: #859cc2; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

/* The navigation menu links */
.navbar a {
    padding: 10px;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

@media only screen and (max-width:900px){
    .navbar a {
        font-size: .8rem;
    }
}

.navbar-icon {
    max-width: 30px;
}
  
/* When you mouse over the navigation links, change their color */
.navbar a:hover {
    background-color: #4a5972;
}
  
/* Style page content */
.main {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    background-color: #ffffff;
    margin: 50px 0;
    width: 80%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}

.search-text{
    padding-left: 25px;
	text-decoration: none;
	background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50px 0 0 50px;
    align-self: flex-end;
    font-size: 2rem;
}

.search-text:focus{
    outline: none;
    border: none;
}

.search-button{
    padding: 25px;
	text-decoration: none;
	background-color: transparent;
    border: none;
    border-radius: 0 50px 50px 0;
    align-self: flex-end;
    height: 100%;
    font-size: large;
}

.add-button{
    padding: 25px;
	text-decoration: none;
	background-color: transparent;
    border: none;
    border-radius: 50px 0 0 50px;
    align-self: flex-end;
    height: 100%;
    font-size: large;
}

button:hover{
    background-color: #e4e4e4;
}

.search a:hover{
    background-color: #859cc2;
}

ul{
    list-style: none;
}

.data{
    width: 80%;
    font-size: 1rem;
}

.header, .row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.data .row:nth-child(2n+1){
    background-color:#2f3644;
}

.data .row:hover{
    background-color:#859cc2;
}

.col{
    flex: 1;
    text-align: center;
}

.header button{
	text-decoration: none;
	background-color: transparent;
    border: none;
    color:#ffffff;
}

.header button:hover{
    color: #859cc2;
}

@media only screen and (max-width:700px){
    .searchbar {
        width: 100%;
    }

    .data{
        width: 100%;
        font-size: .6rem;
    }
}

@media only screen and (max-width:1000px){
    .data{
        font-size: .8rem;
    }
}